body,
html {
  height: 100%;
}

.parallax {
  background-color: rgb(152, 195, 222);
  background-image: url("fjellheimen.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300vh;
  padding-top: 100vh;
}

.parallax-curtain {
  background-image: url("outlander.png");
  background-image: no-repeat;
  height: 150vh;
}
